body {
    font-family: 'Tomorrow', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4e0a75, #000000);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url('images/AI_fig_head_4.png'); /* Replace with your logo URL */
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Make it a circle */
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 20px;
}
/* Container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.221);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);  
    width: 20%;
    max-width: 380px; /* Set a maximum width for the container */ 
    margin: 0 auto;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of links */
    width: 55%; /* Set width to 100% for proper centering */
    max-width: 400px; /* Add a max-width for better layout control */
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px; /* Add some space above the links */
    gap: 10px; /* Add spacing between the links */
}
.white-text {
    color: #fff; /* Set text color to white */
    font-weight:100;
    display: grid;
    align-items: center;
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 20px;    /* Add margin at the bottom */
    text-align: center; /* Center text inside the div */
    }
h1 {
    margin-bottom: 0.5px;
    text-transform: uppercase;
    color:#ff8000;
    text-decoration: outline;   /* Outline text */
    text-decoration-style: solid; /* Solid outline */
    text-decoration-color: #FFFFFF; /* Outline color */
    text-decoration-thickness: 6px; /* Thickness of the outline */
    text-shadow: #221133 2px 2px 2px; /* Add shadow to text */
}
h2 {
    margin-bottom: 0.1px;
    text-transform: uppercase;
    font-size: small;
    color:#eb2a84;
    text-decoration: outline;   /* Outline text */
    text-decoration-style: solid; /* Solid outline */
    text-decoration-color: #FFFFFF; /* Outline color */
    text-decoration-thickness: 6px; /* Thickness of the outline */
    text-shadow: #221133 2px 2px 2px; /* Add shadow to text */
}
h3 {
    margin-bottom: 0.1px;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 200;
    color:#ebce2a;
}
.head-text {
    margin-bottom: 20px;
    text-transform: uppercase;
    color:#00e1ff;
    text-shadow: #221133 2px 2px 2px; /* Add shadow to text */
}
.link {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background: linear-gradient(135deg, #ff00ff, #00bfff);
    color: #fff;
    width: 70%;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}
#youtube {
    background-image: url('images/socials/YouTube.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
    fill: #ffffff; /* Set the icon color to white */
}
#youtube:hover {
    filter: invert(22%) sepia(93%) saturate(6077%) hue-rotate(357deg) brightness(88%) contrast(132%);
}

#twitch {
    background-image: url('images/socials/Twitch.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
    fill: #ffffff; /* Set the icon color to white */
    transition: fill 0.3s; /* Add transition for smooth effect */
}
#twitch:hover {
    filter: invert(33%) sepia(26%) saturate(5572%) hue-rotate(247deg) brightness(98%) contrast(107%);
  }
#kick {
    background-image: url('images/socials/Kick.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#kick:hover {
    filter: invert(70%) sepia(87%) saturate(663%) hue-rotate(51deg) brightness(104%) contrast(98%);
  }
#discord {
    background-image: url('images/socials/discord.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#discord:hover {
    filter: invert(44%) sepia(47%) saturate(7036%) hue-rotate(225deg) brightness(100%) contrast(91%);
}
#ghub {
    background-image: url('images/socials/GitHub.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#tiktok {
    background-image: url('images/socials/TikTok.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#bsky {
    background-image: url('images/socials/BlueSky.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#bsky:hover{
    filter: invert(36%) sepia(75%) saturate(2282%) hue-rotate(196deg) brightness(100%) contrast(102%);
}
#insta {
    background-image: url('images/socials/Instagram.svg'); /* Replace with your icon URL */
    background-size: contain; /* Ensure the icon fits within the element */
    display: inline-block;
    width: 30px; /* Set a fixed width for the icon */
    height: 30px; /* Set a fixed height for the icon */
    margin-right: 5px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
}
#insta:hover {
    filter: invert(16%) sepia(100%) saturate(3269%) hue-rotate(310deg) brightness(115%) contrast(97%);
}
/* Media Query for smaller screens (mobile devices) */
@media only screen and (max-width: 70%) {
    .container {
        padding: 10px;
        border-radius: 10px;
    }
}